{
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "hyperdom"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-unused-vars": 1,
    "no-console": 0,
    "comma-dangle": ["error", "only-multiline"]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    impliedStrict: true,
    sourceType: "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  }
}
