[core]
  excludesfile = ~/.gitignore
  editor = /home/artem/bin/nvim.appimage
  ; pager = delta

[user]
  name = artemave
  email = artemave@gmail.com
  signingkey = ED8C1283

[alias]
  st = status
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  ds = diff --stat=160,120
  bc = !git branch | fzf | xargs git checkout

[color]
  ui = auto

[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  path = /home/artem/bin/nvim.appimage
[pull]
  rebase = true
[push]
  default = simple

[commit]
  template = ~/.gitmessage
  ; gpgsign = true
[gui]
  recentrepo = /Users/artem/projects/booking-services
[http "https://git.prs.dev.travcorpservices.com"]
  sslCAInfo = /Users/artem/.flynn/ca-certs/default.pem
[credential "https://git.prs.dev.travcorpservices.com"]
  helper = /usr/local/bin/flynn git-credentials
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

; [interactive]
;   diffFilter = delta --color-only

; [delta]
;   features = side-by-side line-numbers decorations
;   whitespace-error-style = 22 reverse

; [delta "decorations"]
;   commit-decoration-style = bold yellow box ul
;   file-style = bold yellow ul
;   file-decoration-style = none
