[core]
  excludesfile = ~/.gitignore
  ; pager = delta
  editor = nvim

; [interactive]
    ; diffFilter = delta --color-only

; [delta]
;     navigate = true

[merge]
  conflictstyle = diff3

[diff]
  external = difft

[user]
  name = artemave
  email = artemave@gmail.com
  signingkey = ED8C1283

[alias]
  st = status
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  ds = diff --stat=160,120
  bc = !git branch --sort=-committerdate | fzf | xargs git checkout
  recent = branch --sort=-committerdate --format="%(committerdate:relative)%09%(refname:short)"
  dft = difftool

[pager]
  difftool = true

; [diff]
;   tool = difftastic
;   external = difft

[difftool]
  prompt = false

[difftool "difftastic"]
    # See `man git-difftool` for a description of MERGED, LOCAL and REMOTE.
  cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[color]
  ui = auto

[merge]
  tool = vimdiff
[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[mergetool "vimdiff"]
  path = nvim
[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true

[commit]
  template = ~/.gitmessage
  ; gpgsign = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
	defaultBranch = main
[credential]
	credentialStore = gpg
