[core]
  excludesfile = ~/.gitignore
  ; pager = delta
  editor = nvim

; [interactive]
    ; diffFilter = delta --color-only

; [delta]
;     navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[user]
  name = artemave
  email = artemave@gmail.com
  signingkey = ED8C1283

[alias]
  st = status
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  ds = diff --stat=160,120
  bc = !git branch --sort=-committerdate | fzf | xargs git checkout
  recent = branch --sort=-committerdate --format="%(committerdate:relative)%09%(refname:short)"
  dft = difftool

[pager]
  difftool = true

; [diff]
;   tool = difftastic
;   external = difft

; [difftool]
;   prompt = false

; [difftool "difftastic"]
;   cmd = difft "$LOCAL" "$REMOTE"

[color]
  ui = auto

[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  path = nvim
[pull]
  rebase = true
[push]
  default = simple

[commit]
  template = ~/.gitmessage
  ; gpgsign = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
