[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/plugin/nerdtree"]
	path = .vim/plugin/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/autoclose"]
	path = .vim/bundle/autoclose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
