snippet bb debugger
  debugger

snippet bs massive sleep for Capybara
  sleep 10000

snippet bi binding.irb
  binding.irb

snippet bis binding.irb
  sleep 1; binding.irb

snippet ap awesome print
  ap '${1:var}': $1
