snippet bb "debugger" b
debugger
endsnippet

snippet bs "massive sleep for Capybara" b
sleep 10000
endsnippet

snippet bi "binding.irb" b
binding.irb
endsnippet

snippet bis "binding.irb" b
sleep 1; binding.irb
endsnippet

snippet ap "awesome print" b
ap '${1:var}': $1
endsnippet
